.features{
    margin: 0 18%;
}

.features-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 20px;
    margin: 0;
    gap: 8rem;
}

.top-content video{
    height: 460px;
    width: 460px;
    flex-shrink: 0;
}

.bottom-content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    text-align: end;
    flex: 1;
    padding-right: 2rem;
}

.bottom-content img{
    width: 67px;
    height: 83px;
}

.bottom-content h1{
    font-size: 3.5rem;
    font-weight: 500;
    margin: 4px 0;
    text-align: end;
    white-space: pre-line;
}

.bottom-content p{
    font-size: 1.7rem;
    letter-spacing: 0;
    line-height: 25px;
    color: rgb(83, 83, 83);
    text-align: end;
    white-space: pre-line;
}

.features-content.reverse {
    flex-direction: row-reverse;
    background-color: #f5f5f5;
    margin: 0 -18vw;
    padding: 3rem 18vw;
}

.features-content.reverse .bottom-content {
    align-items: flex-start;
    padding-left: 2rem;
    padding-right: 0;
}

.features-content.reverse .bottom-content h1,
.features-content.reverse .bottom-content p {
    text-align: start;
}