.fees {
  background-color: #000;
  margin: 0;
  padding: 40px 0;
  width: 100%;
}

.fees-content {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}

.top-content h1 {
  background-color: red;
  background-image: linear-gradient(
    92deg,
    #217ee6 3%,
    #3187d5 44%,
    #69a798 70%,
    #fcf2a6 95%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem;
  font-weight: 700;
}

.bottom-content h2 {
  font-size: 3rem;
  font-weight: 300;
  margin: 10px 0;
  text-align: center;
}
