.footer{
    background-color: #0c161b;
}

.footer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 18%;
    gap: 1rem;
    color: #fff;
}

.footer-top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 3rem 20px;
}

.footer-top img{
    width: 120px;
    height: auto;
}

.love p{
    padding: 1rem 3rem;
    color: white;
    background-color: #1a1a1a;
    border-radius: 50px;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
}

.footer-top h3{
    color: #0093f7;
    font-size: 1.75rem;
    margin: 2rem;
}

.footer-top p{
    font-size: 24px;
    text-align: center;
    margin-bottom: 0;
}

.footer-second{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem 20px;
    gap: 2.5rem;
}

.footer-second h4{
    font-size: 1.75rem;
    margin: 0;
    font-weight: 400;
}

.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 2.75rem;
}

.social-icons .twitter-icon{
    color: #000;
    background-color: #fff;
    border-radius: 10px;
}

.footer-third{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 1rem 20px;
    margin-bottom: 2rem;
}

.footer-third h5{
    font-size: 1.25rem;
    margin: 0;
    color: #fff;
    margin-bottom: 1rem;
}

.footer-third li{
    font-size: 1.25rem;
    color: #0093ff;
    margin: 0;
}
.footer-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem 20px;
    gap: 2rem;
}

.footer-bottom img{
    width: 350px;
    height: auto;
}

.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.bottom img{
    width: 50px;
    height: auto;
}

.copyright p{
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 2rem;
}