.hero {
  margin: 0 18%;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-top: 8rem;
}

.hero-left h1 {
  font-size: 36px;
  font-weight: 700;
  margin: 4px 0;
}

.hero-left h2 {
  font-size: 3.6rem;
  font-weight: 800;
  text-align: left;
  color: #007bff;
  margin: 6px 0;
}

.hero-left h4{
    font-size: 22px;
    font-weight: 400;
    color: #007bff;
    margin-top: 0;
}

.hero-left img{
    width: 355px;
    height: auto;
}

.hero-left p{
    font-size: 22px;
    letter-spacing: 0;
    line-height: 25px;
    color: rgb(83, 83, 83);
    margin-bottom: 0;
    word-spacing: normal;
}

.hero-left button{
    padding: 18px 38px;
    font-size: 18px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 24px;
}

.hero-right img{
    width: 500px;
    height: auto;
    float: left;
}