.investor{
    margin: 0 18%;
}

.investor-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    gap: 2rem;
    padding: 3rem 20px;
}

.investor-content h1{
    font-size: 4.5rem;
    font-weight: 500;
    text-align: center;
}

.investor-content p{
    font-size: 1.7rem;
    letter-spacing: 0;
    color: rgb(83, 83, 83);
    text-align: center;
}

.investor-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 2rem;
}

.investor-icons img{
    width: 240px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

