.navbar{
    padding: 0 18%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1000;
}

.navbar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.nav-left img{
    height: 80px;
    width: 80px;
}

.nav-middle ul{
    display: flex;
    gap: 24px;
}

li {
    list-style: none;
    font-size: 20px;
    font-weight: 500;
    color: #333;
    cursor: pointer;
}

.nav-right button{
    padding: 12px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}